<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.teamproject4.members.repository.MembersMapper">
    <!-- resultmap  -->
    <resultMap id="membersResultMap" type="com.spring.teamproject4.members.domain.Members">
        <result property="memNo" column="mem_no"/>
        <result property="memName" column="mem_name"/>
        <result property="memEmail" column="mem_email"/>
        <result property="memPassword" column="mem_password"/>
        <result property="memJoinDate" column="mem_joindate"/>
    </resultMap>

    <!-- 회원가입 -->
    <insert id="join">
        INSERT INTO members (mem_no, mem_name, mem_email, mem_password)
        VALUES (seq_member.nextval, #{memName}, #{memEmail}, #{memPassword})
    </insert>

    <!-- 전체회원조회 -->
    <select id="findAll" resultMap="membersResultMap">
        SELECT * FROM members ORDER BY mem_no
    </select>

    <!-- 로그인(이메일+비번으로 사람찾기) -->
    <select id="checkMember" resultMap="membersResultMap">
        SELECT * FROM members
        WHERE mem_email = #{memEmail} AND mem_password = #{memPassword}
    </select>

    <!-- (+21.11.22) 단일회원조회 (email로 검색) -->
    <select id="getMember" resultMap="membersResultMap">
        SELECT * FROM members
        WHERE mem_email = #{targetKeyword}
    </select>
    <!-- (+21.11.22) 이메일 중복확인 기능 -->
    <select id="isDuplicateEmail" resultType="int">
        SELECT COUNT(*) FROM members
        WHERE mem_email = #{targetKeyword}
    </select>



</mapper>